{% extends "mi06VitrineBundle::layout.html.twig" %}
{% block content %}
    <h1>Modification de Commande</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Date</th>
                <td>{% if commande.date %}{{ commande.date|date('Y-m-d') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Client</th>
                <td>{{ commande.client }}</td>
            </tr>
        </tbody>
    </table>

    {{ form_start(edit_form) }}
        {{ form_widget(edit_form) }}
        <input class="btn btn-default" type="submit" value="Edit" />
    {{ form_end(edit_form) }}

    <p>
        <a href="{{ path('commande_index') }}">Retour</a>
    </p>
{% endblock %}
