{% extends "mi06VitrineBundle::layout.html.twig" %}
{% block content %}
    <h1>Liste des Commandes</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Date</th>
                <th>Etat</th>
                <th colspan="2">Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for commande in commandes %}
            <tr>
                <td><a href="{{ path('commande_show', { 'id': commande.id }) }}">{{ commande.id }}</a></td>
                <td>{% if commande.date %}{{ commande.date|date('Y-m-d') }}{% endif %}</td>
                <td>{{ commande.etat }}</td>
                <td>
                    <a href="{{ path('commande_show', { 'id': commande.id }) }}">show</a>
                </td>
                <td>
                    <a href="{{ path('commande_edit', { 'id': commande.id }) }}">edit</a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}
