{% extends "mi06VitrineBundle::layout.html.twig" %}
{% block content %}
    <h1>Client creation</h1>

    {{ form_start(newClient) }}
        {{ form_widget(newClient) }}
        <input type="submit" value="Créer mon compte" />
    {{ form_end(newClient) }}

    {{ form_start(login) }}
        {{ form_widget(login) }}
        <input type="submit" value="Me connecter" />
    {{ form_end(login) }}

    <ul>
        <li>
            <a href="{{ path('client_index') }}">Back to the list</a>
        </li>
    </ul>
{% endblock %}
