<div class="list-group">
    <a href="{{ path('mi06_vitrine') }}" class="list-group-item">{{ 'mi06.vitrine.menu.home'|trans }}</a>
    <a href="{{ path('mi06_vitrine_catalogue') }}" class="list-group-item">{{ 'mi06.vitrine.menu.catalog'|trans }}</a>
    <a href="{{ path('mi06_vitrine_mentions') }}" class="list-group-item">{{ 'mi06.vitrine.menu.legal'|trans }}</a>
</div>
